---
import ContactForm from "../components/ContactForm.astro";
import Hero from "../components/Hero.astro";
import PostPreview from "../components/PostPreview.astro";
import Section from "../components/Section.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Luke Bayliss">
	<main>
		<Hero />
		<div
			class="flex flex-col lg:flex-row space-x-0 lg:space-x-16 space-y-16 lg:space-y-0 max-w-6xl mx-auto px-6 pt-16"
		>
			<Section title="Latest posts">
				<PostPreview />
				<PostPreview />
				<PostPreview />
				<PostPreview />
				<PostPreview />
				<PostPreview />
				<PostPreview />
			</Section>
			<div class="space-y-16">
				<Section title="About me">
					<h2>Software engineer from Melbourne, Australia</h2>
					<p>
						Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius culpa
						dolores nostrum voluptatum facilis itaque, id, illum numquam
						consectetur praesentium iure laboriosam corporis repellat hic
						assumenda voluptatibus quae maiores! Adipisci!
					</p>
				</Section>
				<Section title="Get in contact">
					<p class="italic mb-4">Got something to say? Feel free to send me a message!</p>
					<ContactForm />
				</Section>
			</div>
		</div>
	</main>
</Layout>
