---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
	<main class="min-w-min max-w-xl mx-auto">
		<section>Hero</section>
		<section>About</section>
		<section>Recent posts</section>
		<section>Get in contact</section>
	</main>
</Layout>
