---
import PostPreview from "../components/PostPreview.astro";
import Section from "../components/Section.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Luke Bayliss | Posts">
    <main class="max-w-6xl mx-auto px-6 pt-16 mb-16">
        <Section title="Latest posts">
            <PostPreview />
            <PostPreview />
            <PostPreview />
            <PostPreview />
            <PostPreview />
            <PostPreview />
            <PostPreview />
        </Section>
    </main>
</Layout>
