---
export interface Props {}
const {} = Astro.props as Props;
---

<footer>
    <h3>Links</h3>
    <ul>
        <li><a href="https://github.com/lpbayliss">GitHub</a></li>
        <li>
            <a href="https://www.linkedin.com/in/lpbayliss/">LinkedIn</a>
        </li>
        <li><a href="/terms-of-use">Terms of Use</a></li>
        <li><a href="/privacy-policy">Privacy Policy</a></li>
    </ul>
</footer>
