<section class="relative h-48">
  <svg
    class="w-full absolute left-0 right-0"
    id="visual"
    viewBox="0 0 960 200"
    preserveAspectRatio="none"
    width="960"
    height="200"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    version="1.1"
    ><path
      d="M0 174L13.3 167.2C26.7 160.3 53.3 146.7 80 142.7C106.7 138.7 133.3 144.3 160 147.5C186.7 150.7 213.3 151.3 240 152.3C266.7 153.3 293.3 154.7 320 151.7C346.7 148.7 373.3 141.3 400 144C426.7 146.7 453.3 159.3 480 164C506.7 168.7 533.3 165.3 560 160.5C586.7 155.7 613.3 149.3 640 143.8C666.7 138.3 693.3 133.7 720 137C746.7 140.3 773.3 151.7 800 154.8C826.7 158 853.3 153 880 152.2C906.7 151.3 933.3 154.7 946.7 156.3L960 158L960 0L946.7 0C933.3 0 906.7 0 880 0C853.3 0 826.7 0 800 0C773.3 0 746.7 0 720 0C693.3 0 666.7 0 640 0C613.3 0 586.7 0 560 0C533.3 0 506.7 0 480 0C453.3 0 426.7 0 400 0C373.3 0 346.7 0 320 0C293.3 0 266.7 0 240 0C213.3 0 186.7 0 160 0C133.3 0 106.7 0 80 0C53.3 0 26.7 0 13.3 0L0 0Z"
      fill="#7f5af0"></path><path
      d="M0 130L13.3 124.8C26.7 119.7 53.3 109.3 80 105.3C106.7 101.3 133.3 103.7 160 106C186.7 108.3 213.3 110.7 240 110.8C266.7 111 293.3 109 320 110.8C346.7 112.7 373.3 118.3 400 116.5C426.7 114.7 453.3 105.3 480 103.5C506.7 101.7 533.3 107.3 560 111.7C586.7 116 613.3 119 640 117.2C666.7 115.3 693.3 108.7 720 110.3C746.7 112 773.3 122 800 125C826.7 128 853.3 124 880 119.2C906.7 114.3 933.3 108.7 946.7 105.8L960 103L960 0L946.7 0C933.3 0 906.7 0 880 0C853.3 0 826.7 0 800 0C773.3 0 746.7 0 720 0C693.3 0 666.7 0 640 0C613.3 0 586.7 0 560 0C533.3 0 506.7 0 480 0C453.3 0 426.7 0 400 0C373.3 0 346.7 0 320 0C293.3 0 266.7 0 240 0C213.3 0 186.7 0 160 0C133.3 0 106.7 0 80 0C53.3 0 26.7 0 13.3 0L0 0Z"
      fill="#4d46a6"></path><path
      d="M0 79L13.3 81C26.7 83 53.3 87 80 87.5C106.7 88 133.3 85 160 85.8C186.7 86.7 213.3 91.3 240 93.8C266.7 96.3 293.3 96.7 320 94.3C346.7 92 373.3 87 400 81.8C426.7 76.7 453.3 71.3 480 68.7C506.7 66 533.3 66 560 66.3C586.7 66.7 613.3 67.3 640 71.3C666.7 75.3 693.3 82.7 720 83C746.7 83.3 773.3 76.7 800 72.7C826.7 68.7 853.3 67.3 880 65.7C906.7 64 933.3 62 946.7 61L960 60L960 0L946.7 0C933.3 0 906.7 0 880 0C853.3 0 826.7 0 800 0C773.3 0 746.7 0 720 0C693.3 0 666.7 0 640 0C613.3 0 586.7 0 560 0C533.3 0 506.7 0 480 0C453.3 0 426.7 0 400 0C373.3 0 346.7 0 320 0C293.3 0 266.7 0 240 0C213.3 0 186.7 0 160 0C133.3 0 106.7 0 80 0C53.3 0 26.7 0 13.3 0L0 0Z"
      fill="#2d2f5d"></path><path
      d="M0 35L13.3 38C26.7 41 53.3 47 80 49.3C106.7 51.7 133.3 50.3 160 47.5C186.7 44.7 213.3 40.3 240 38.5C266.7 36.7 293.3 37.3 320 40.7C346.7 44 373.3 50 400 53.3C426.7 56.7 453.3 57.3 480 53C506.7 48.7 533.3 39.3 560 36.7C586.7 34 613.3 38 640 41.7C666.7 45.3 693.3 48.7 720 49.3C746.7 50 773.3 48 800 45.3C826.7 42.7 853.3 39.3 880 41.3C906.7 43.3 933.3 50.7 946.7 54.3L960 58L960 0L946.7 0C933.3 0 906.7 0 880 0C853.3 0 826.7 0 800 0C773.3 0 746.7 0 720 0C693.3 0 666.7 0 640 0C613.3 0 586.7 0 560 0C533.3 0 506.7 0 480 0C453.3 0 426.7 0 400 0C373.3 0 346.7 0 320 0C293.3 0 266.7 0 240 0C213.3 0 186.7 0 160 0C133.3 0 106.7 0 80 0C53.3 0 26.7 0 13.3 0L0 0Z"
      fill="#16161a"></path>
  </svg>
</section>
