---
export interface Props {}
const {} = Astro.props as Props;
---

<nav class="flex sticky top-0">
	<div>Luke Bayliss</div>
	<div>
		<ul>
			<li><a href="/experience">Experience</a></li>
			<li><a href="/posts">posts</a></li>
			<li><a href="/projects">Projects</a></li>
		</ul>
	</div>
	<div>
		<ul>
			<li>Color Mode</li>
			<li>RSS</li>
		</ul>
	</div>
</nav>
