<div class="mb-10 last:mb-0">
  <h2 class="text-lg mb-4 text-[#fffffe]">Lorem ipsum dolor!</h2>
  <p class="mb-4">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat voluptatem
    eaque, quidem assumenda facere laudantium excepturi eligendi, cupiditate
    vero odit quae tempore et minus sequi harum ipsam laborum ex quibusdam
    dolorem sed illo fugiat aperiam culpa necessitatibus! Illo excepturi,
    numquam qui odio assumenda, nostrum quis doloremque placeat, saepe soluta
    quod.
  </p>
  <a href="/soemthing" class="hover:underline underline-offset-4 font-semibold text-headline hover:text-primary">Read more</a>
</div>
