---
export interface Props {
  title: string;
  preview: string;
  href: string;
}

const { title, preview, href } = Astro.props as Props;
---

<div class="mb-4 last:mb-0 group hover:bg-surface p-4 rounded transition ease-in-out">
  <a href={href}>
    <h2 class="text-lg mb-4 text-[#fffffe]">{title}</h2>
    <p class="mb-4">
      {preview}
    </p>
    <span
      class="group-hover:underline underline-offset-4 font-semibold text-headline group-hover:text-primary transition ease-in-out"
      >Read more
    </span>
  </a>
</div>
