---
export interface Props {
  title: string;
  preview: string;
  href: string;
}

const { title, preview, href } = Astro.props as Props;
---

<div class="mb-10 last:mb-0">
  <h2 class="text-lg mb-4 text-[#fffffe]">{title}</h2>
  <p class="mb-4">
    {preview}
  </p>
  <a
    href={href}
    class="hover:underline underline-offset-4 font-semibold text-headline hover:text-primary transition ease-in-out"
    >Read more
  </a>
</div>
