---
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import Navigation from "../components/Navigation.astro";

export interface Props {
  title: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en" class="bg-canvas text-paragraph min-w-[320px]">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Luke Bayliss is a software developer from Melbourne, Australia."
    />
    <meta
      name="keywords"
      content="Software, Engineer, Melbourne, Australia, Developer, Programmer, Portfolio, Resume"
    />
    <meta name="author" content="Luke Bayliss" />
    <meta name="robots" content="index, follow" />
    <title>{title}</title>
    <script
      src="https://kit.fontawesome.com/a9621aee15.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="h-screen">
    <Navigation />
    <Hero />
    <slot />
    <Footer />
  </body>
</html>
